{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h1 class="display-1">PDHPE</h1>
  </div>
  {% if question %}
  <div class="row">
    <div class="row">
      <h3 class="question-box">{{ question.question }}</h3>
    </div>
    <form method="post">
      <div class="row mb-2">
        <button type="submit" name="answer" value="a" class="btn btn-primary">
          A. {{ question.a }}
        </button>
      </div>
      <div class="row mb-2">
        <button type="submit" name="answer" value="b" class="btn btn-primary">
          B. {{ question.b }}
        </button>
      </div>
      <div class="row mb-2">
        <button type="submit" name="answer" value="c" class="btn btn-primary">
          C. {{ question.c }}
        </button>
      </div>
      <div class="row mb-2">
        <button type="submit" name="answer" value="d" class="btn btn-primary">
          D. {{ question.d }}
        </button>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
    <!-- <form method="post">
      <button type="submit" name="answer" value="a" class="btn btn-primary m-2">
        A. {{ question.a }}
      </button>
      <button type="submit" name="answer" value="b" class="btn btn-primary m-2">
        B. {{ question.b }}
      </button>
      <button type="submit" name="answer" value="c" class="btn btn-primary m-2">
        C. {{ question.c }}
      </button>
      <button type="submit" name="answer" value="d" class="btn btn-primary m-2">
        D. {{ question.d }}
      </button>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form> -->
  </div>
  <div class="row">
    <p>Correct answers: {{ correct_answers }}</p>
    {% if feedback %}
    <div class="alert alert-info">{{ feedback }}</div>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}
